<!--
 * @Description: 
 * @Author: John Holl
 * @Github: https://github.com/hzylyh
 * @Date: 2021-06-15 08:43:58
 * @LastEditors: John Holl
 * @LastEditTime: 2021-10-25 10:32:27
-->
<template>
  <div id="microService"
       style="height: 100%">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'microService'
}
</script>

<style>
</style>
