<!--
 * @Description: 
 * @Author: John Holl
 * @Github: https://github.com/hzylyh
 * @Date: 2021-06-15 08:43:58
 * @LastEditors: 郭云展
 * @LastEditTime: 2021-10-20 14:32:12
-->
<template>
  <div id="multiCloud">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'multiCloud'
}
</script>

<style>
</style>
