
// 链接文字样式
.link_style {
  color: #5288c3;
  cursor: pointer;
}

/*修改滚动条样式*/
// 滚动条最底部样式
.scrollbar::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}
// 滚动条背景条样式
.scrollbar::-webkit-scrollbar-track {
  background: rgb(216, 216, 216);
  border-radius: 3px;
}
// 滚动条上层可滑动的条样式
.scrollbar::-webkit-scrollbar-thumb {
  background: #c5caa1;
  border-radius: 3px;
}
// 滚动条上层可滑动的条样式:hover样式
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a6aa83;
}