<!--
 * @Description: 
 * @Author: John Holl
 * @Github: https://github.com/hzylyh
 * @Date: 2021-06-15 08:43:58
 * @LastEditors: zhoucheng
 * @LastEditTime: 2021-10-26 16:29:08
-->
<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
</style>
